body{
    background-color: #4586de;
    font-size:120%;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
}
 
header .brand{
    font-family: 'Pacifico', Georgia;
    font-size: 170%;
    padding: 40px;
}

header .brand span{
    font-family: 'Open Sans', sans-serif;
    font-size: 40%;
    padding: 20px;
}

.hero{
    height: 400px;
    background: #68bba1 url('../img/math.jpg') center no-repeat;
}